.post-title h3{
    text-align: center;
    color:#89b4df;
    font-size: 2rem;
}
.post-subtitle h4{
    text-align: center;
    color:black;
    font-size: 1.5rem;

}
.post-content{
    font-size: 1rem;
    margin-top: 30px;
}

.post-content img{
    max-width: 100%!important;
    height: auto!important;
}

.post-content h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    line-height: 1.2;
}
.post-content h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    line-height: 1.2;
}
.post-content h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    line-height: 1.2;
}
.post-content h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    line-height: 1.2;
}
.post-content h5{
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    line-height: 1.2;
}
.post-content h6{
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    line-height: 1.2;
}
.post-content strong{
    font-weight: bold;
}

.relative_title .r{
    text-align: right
}
.relative_contents{
    background-color: #f4fbfe;
    padding: 10px;
}
.relative_title {
    margin-bottom: 10px;
}
.content_icon{
    overflow: hidden;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1672a5;
    margin-right: 19px;
    vertical-align: 3px
}