{% extends "banner.html" %}
{% block secondcss %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/contact.css') }}" type="text/css" />
{% endblock %}
{% block second %}
<div class="row">
    <div class="col s12 m6 l6">
        {% if posts %}
        <div class="post-title">
            <h3>{{posts[0].title}}</h3>
        </div>
        {% if posts[0].subtitle %}
        <div class="post-subtitle">
            <h4>{{posts[0].subtitle}}</h4>
        </div>
        {% endif %}
        <div class="post-content">
            <p>
                {{posts[0].content | safe}}
            </p>
        </div>
        {%endif%}
    </div>
    <div class="col s12 m6 l6">
        <div class="form-container">
            <div class="form-title-container">
                <h4>{{translation.lianxiwomen}}</h4>
            </div>
            <div class="form-content-container">
                <form>
                    <div class="row form-row">
                        <div class="input-field col s12 m6 l6">
                            <input id="name" type="text" class="validate ">
                            <label for="name">姓名</label>
                        </div>
                        <div class="input-field col s12  m6 l6">
                            <input id="company_name" type="text" class="validate">
                            <label for="company_name">公司名称</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="input-field col s12 m6 l6">
                            <input id="position" type="text" class="validate">
                            <label for="position">职位</label>
                        </div>
                        <div class="input-field col s12  m6 l6">
                            <input id="address" type="text" class="validate">
                            <label for="address">地址</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="input-field col s12 m6 l6">
                            <input id="email" type="text" class="validate">
                            <label for="email">邮箱</label>
                        </div>
                        <div class="input-field col s12  m6 l6">
                            <input id="phone" type="text" class="validate">
                            <label for="phone">电话</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="input-field col s12 m6 l6">
                            <input id="target" type="text" class="validate">
                            <label for="target">目的</label>
                        </div>
                        <div class="input-field col s12  m6 l6">
                            <input id="contact" type="text" class="validate">
                            <label for="contact">期待的联系方式</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="input-field col s12 m6 l6">
                            <textarea id="comment" type="text" class="materialize-textarea"></textarea>
                            <label for="comment">简单描述您的意见/需求/建议</label>
                        </div>
                        <div class="contact-info col s12  m6 l6">
                            {{contactInfo | safe}}
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="input-field col s12 m6 l6">
                            <a class="waves-effect waves-light btn" id="submmit">点击提交>>></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    $(document).ready(
        function () {
            $('#submmit').click(function () {
                var formDataIntegral = new FormData();
                formDataIntegral.append("name", $('#name').val());
                formDataIntegral.append("company_name", $('#company_name').val());
                formDataIntegral.append("position", $('#position').val());
                formDataIntegral.append("address", $('#address').val());
                formDataIntegral.append("phone", $('#phone').val());
                formDataIntegral.append("email", $('#email').val());
                formDataIntegral.append("target", $('#target').val());
                formDataIntegral.append("contact", $('#contact').val());
                formDataIntegral.append("comment", $('#comment').val());
                $.ajax({
                    url: window.location.protocol + "//" + window.location.host +
                        '/api/feedback',
                    type: 'POST',
                    data: formDataIntegral,
                    contentType: false,
                    processData: false,
                    async: false,
                    success: function (data) {
                        if (data["status"] == "ok") {
                            alert("反馈成功，我们会尽快联系您");
                        } else {
                            alert("反馈失败，请稍后再试");
                        }

                    }

                })
            })
        }

    );
</script>
{% endblock %}