{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" type="text/css" />
<title>锢维智能</title>
{% endblock %}
{% block content %}
<div>
    <div class="carousel carousel-slider">

        {% for c in carousel %}
        <div class="carousel-item">
            <img src="{{url_for('static',filename=c.img) }}">
            <div class="carousel-text-container ie-carousel-text-container">
                <h2>{{c.title}}</h2>
                <p class="white-text">{{c.content}}</p>
                <a class="btn waves-effect">{{c.linktitle}}</a>
            </div>

        </div>

        {% endfor %}
    </div>
    <div class="card-container">


        <div class="row">
            <div class="col s12 m12 l4">
                <div class="row">
                    <div class="col s12 card-owner">
                        <div class="card Large ">
                                {% if  posts[0].link %}
                                <a href="{{ url_for('web.second',lang='cn',route=posts[0].link) }}">
                                {%else%}
                                <a href="#"></a>
                                {% endif %}
                                <div class="card-image">
                                    {% if  posts[0].cover %}
                                    <img src="{{url_for('static',filename=posts[0].cover) }}">
                                    {%else%}
                                    <img src="{{url_for('static',filename=posts[0].img) }}">
                                    {% endif %}


                                </div>
                                <div class="card-content">
                                    <h3 class="card-title">{{posts[0].title}}</h3>
                                    <!-- <p>{{posts[0].content|safe |truncate(90,true,'...') }}</p> -->
                                    <p>{{posts[0].subtitle}}</p>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="row">
                    <div class="col s12 card-owner">
                        <div class="card Large ">
                            {% if  posts[1].link %}
                            <a href="{{ url_for('web.second',lang='cn',route=posts[1].link) }}">
                            {%else%}
                            <a href="#"></a>
                            {% endif %}
                                <div class="card-image">
                                    {% if  posts[1].cover %}
                                    <img src="{{url_for('static',filename=posts[1].cover) }}">
                                    {%else%}
                                    <img src="{{url_for('static',filename=posts[1].img) }}">
                                    {% endif %}

                                </div>
                                <div class="card-content">
                                    <h3 class="card-title">{{posts[1].title}}</h3>
                                    <!-- <p>{{posts[1].content|safe |truncate(90,true,'...') }}</p> -->
                                    <p>{{posts[0].subtitle}}</p>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="row">
                    <div class="col s12 card-owner">
                        <div class="card Large ">
                            <a href="{{ url_for('web.second',lang='cn',route='calender') }}">
                                <div class="card-image" id='calendar'>


                                </div>
                                <div class="card-content">
                                    <h3 class="card-title">实验日历</h3>
                                    <p>在这里，您将查看我们的实验计划</p>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-pair-container">
        <div class="home-pair-text-container">
            <p>你的材料能锻造吗？</p>
            <p>简单的经验法则是：如果你能锻造它，你就能摩擦焊接它</p>
            <h4 class="home-pair-title">检查以发现可能性</h4>
            <p id="result"></p>
            <div class="row">
                <div class="col s5">
                    <select id="m1">
                        <option value="" disabled selected></option>
                        {% for m in materials %}
                        <option value="{{ m.id }}">{{m.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col s5">
                    <select id="m2">
                        <option value="" disabled selected></option>
                        {% for m in materials %}
                        <option value="{{ m.id }}">{{m.name}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col s2">
                    <a class="waves-effect waves-light btn" id="pair">检查</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="jumbotron m-carousel">
    {% if carousel.media  %}
    {{ carousel.media |safe }}
    {% else  %}

    {% endif %}
    <h1 class=".browser-default">{{ carousel.title }}</h1>
    <p class=".browser-default">{{ carousel.content }}</p>
    <p class=".browser-default"><a class="btn btn-primary btn-lg .browser-default" href="#" role="button">Learn
            more</a></p>

</div> -->
{% endblock %}
{% block script %}
<script type="text/javascript" src="https://cdn.staticfile.org/pagePiling.js/1.5.5/jquery.pagepiling.min.js"></script>
<script>
    var renderCalender = function (data) {
        var events = [];
        for (var i = 0; i < data.length; i++) {
            events.push({
                id: i,
                title: data[i].title,
                start: data[i].start,
                end: data[i].end,
                allDay: true
            })
        }
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [],
            events: events
        });
        calendar.render();
    };

    var getPairResult = function () {
        if (!$('#m1').val() || !$('#m2').val()) {
            alert("请先选择材料");
            return;
        }
        var formDataIntegral = new FormData();
        formDataIntegral.append("m1", $('#m1').val());
        formDataIntegral.append("m2", $('#m2').val());
        $.ajax({
            url: "/api/pair",
            type: 'POST',
            dataType: 'json',
            data: formDataIntegral,
            contentType: false,
            processData: false,
            async: false,
            cache: false,
            success: function (result) {
                console.log(result);
                if (result["result"]) {
                    $("#result").text("是的，我们可以焊接它们")
                } else {
                    $("#result").text("我们可能不能焊接他们，详情请联系我们")
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    };

    $(document).ready(
        function () {
            $("#pair").click(function () {
                getPairResult();
            });
            $.ajax({
                url: "/api/calender",
                dataType: 'json',
                success: function (result) {
                    renderCalender(result["objects"])
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }
    );
</script>
{% endblock %}
{#<video autoplay>#}
{#    <source src="{{ url_for('static',filename='video/6-r4QcdJVxM.mp4') }}" type="video/mp4">#}
{#    Your browser does not support the video tag.#}
{#</video>#}