
<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->


    <!--Import materialize.css-->
    <link href="https://cdn.staticfile.org/material-design-icons/3.0.1/iconfont/material-icons.min.css"
        rel="stylesheet">
    <link href=" https://cdn.staticfile.org/fullcalendar/4.0.0-alpha.4/fullcalendar.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" type="text/css" />
    {% block css %}{% endblock %}
</head>
<body>
    <div class="container col s12">
        <form class="col s12" action="login" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input name="username" id="username" type="text" class="validate">
                    <label for="username">用户名</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="password" id="password" type="password" class="validate">
                    <label for="password">密码</label>
                </div>
            </div>
        <div class="row">
            <button class="btn waves-effect waves-light blue lighten-2" type="submit" id="login">登陆
            </button>
    
        </div>
        </form>
    
    </div>
</body>


