{% extends "banner.html" %}
{% block secondcss %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/post.css') }}" type="text/css" />
{% endblock %}
{% block second %}
<div>
    <div class="post-title">
        <h3>{{post.title}}</h3>
    </div>
    {% if post.subtitle %}
    <div class="post-subtitle">
        <h4>{{post.subtitle}}</h4>
    </div>
    {% endif %}
    <div class="post-content">
        <p>
            {{post.content | safe}}
        </p>
    </div>
</div>
<div class="relative">
    <div class="relative_title row">
        <div class="col s6">相关文章</div>
        <div class="col s6 r"><a href="{{ url_for('web.second',lang='cn',route=route) }}">返回上级</a></div>
    </div>
    <div class="relative_contents">
        <ul>
            {% for rp in relativePosts %}
            {% if rp %}
            {% if rp.id == post.id%}
            <li>
                <span class="content_icon"></span>
                <span>
                    <a class="relative_content"
                        href="{{ url_for('web.post',lang='cn',id=rp.id,route=route) }}">{{rp.title}}</a>
                </span>

            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}